.Person {
    width: 60%;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
}

/* We can normally do this.  */
/* And if we have css modules configured, it will be scoped to the component that imports this file */
@media (min-width: 500px) {
    .Person {
        width: 450px;
    }
}   